NEXT_PUBLIC_SITE_URL=https://example.org
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_WHATSAPP_URL=
NEXT_PUBLIC_PARTNER_FORM_URL=
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_YOUTUBE_URL=
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=
